<div class="my-5">
	<form id="new-article" action="" method="POST" enctype='multipart/form-data'>

        <div class="form-floating">
			<input class="form-control" id="name" type="text" name="name" value="{% if type == 'edit' %}{{category.name}}{% endif %}" required/>
			<label for="name">Nom*</label>
			{% if errors.name %}
				<small class="small-test-error"></small>
			{% endif %}
		</div>

       <div class="form-floating">
            <input class="btn btn-primary" type="submit" value="{{ button_label }}"/>
        </div>
    </form>
</div>