<div class="my-5">
	<form id="new-article" action="" method="POST">

		<div class="form-floating">
			<input class="form-control" id="title" type="text" name="title" required/>
			<label for="title">Titre*</label>
			{% if errors %}
				<small class="small-test-error"></small>
			{% endif %}
		</div>

        <div class="form-floating">
			<input class="form-control" id="excerpt" type="text" name="excerpt"/ required>
			<label for="excerpt">Extrait*</label>
			{% if errors %}
				<small class="small-test-error"></small>
			{% endif %}
		</div>

        <div class="form-floating">
			<textarea class="form-control" id="content" type="text" name="content" cols="30" rows="8" required></textarea>
			<label for="content">Contenue*</label>
			{% if errors %}
				<small class="small-test-error"></small>
			{% endif %}
		</div>

        <div class="form-floating">
			<input class="form-control" id="thumbnail" type="file" name="thumbnail"/>
			<label for="thumbnail">Image de mise en avant</label>
			{% if errors %}
				<small class="small-test-error"></small>
			{% endif %}
		</div>

        <div class="form-floating mb-5">
            <select class="form-select" id="idCategory" name="idCategory" required>
                <option value="" selected disabled>Choisir une catégorie</option>
                {% for category in categories %}
                    <option value="{{ category.idCategory }}">{{ category.name }}</option>
                {% endfor %}
            </select>
			<label for="category">Catégorie*</label>
			{% if errors %}
				<small class="small-test-error"></small>
			{% endif %}
		</div>

        <div class="form-check">
            <input class="form-check-input" id="promote" type="checkbox" name="promote">
            <label for="promote">Mis en avant sur l'accueil</label>
        </div>

        <div class="form-floating">
            <input class="btn btn-primary" type="submit" value="{{ button_label }}"/>
        </div>
    </form>
</div>